pandas 
mlflow==2.2.2
notebook
numpy
scikit-learn
matplotlib
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
types-PyYAML
Flask
Flask-Cors
dvc
-e .# Core
python>=3.8
pandas>=1.3.0
numpy>=1.20.0
scikit-learn>=1.0.0
joblib>=1.0.0
pyyaml>=5.0.0

# NLP Processing
spacy>=3.0.0
fr-core-news-md @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_md-3.7.0/fr_core_news_md-3.7.0-py3-none-any.whl
transformers>=4.0.0
sentencepiece>=0.1.95  # Requis pour CamemBERT
tokenizers>=0.10.0

# MLOps Tools
mlflow>=1.20.0
dvc>=3.0.0  # Si utilisation de DVC

# Utilitaires
tqdm>=4.0.0  # Pour les barres de progression
scipy>=1.7.0  # Pour les matrices creuses

# Dépendances optionnelles
torch>=1.10.0  # Seulement nécessaire pour les embeddings